*{
    margin: 0;
    padding: 0;
    background: palegoldenrod;
}   
h1{
    text-align: center;
    padding: 10px;
    color: blue;
    font-size: 50px;
}
p{
    margin: 20px;
    font-size: 20px;
}
.link{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}